 #openBlock {

            width: 500px;
             height: 500px;
            align-items: center;
            justify-content: center;
            background-color: blue;
            margin-right: 10px;


 }
